[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
django-filter = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
install = "*"
django-on-heroku = "*"
whitenoise = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
